@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

.coffee-hover {
  cursor: url("/coffee.svg"), auto;
}

.coffee-hover:hover {
  color: #d1a054; /* Optional: change color on hover */
}

.football-hover {
  cursor: url("/football.svg"), auto;
}

.guitar-hover {
  cursor: url("/guitar.svg"), auto;
}
